@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost:21545/eBusiness/font/1.eot);
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost:21545/eBusiness/font/2.eot);
}
